.main {
    font-family: 'Hack';
    font-size: 11pt;
    flex-direction: column;
    margin: 0 auto 0 auto;
    height: 7rem;
    padding: 1rem;
    justify-content: space-evenly;

}

.logos {
    display: flex;
    justify-content: center;
    margin: 0.5rem auto;
    gap: 12px;
}
