.container {
    max-width: 40rem;
    min-width: 250px;
    padding: 0 1rem;
    width: 100%;
    flex:1;
}

.mainContainer {
    display: flex;
    align-items:center;
    flex-direction: column;
    min-height: 100vh;
}

.back {
    margin-top: 20px;
}

.back > a {
    text-decoration: none;
    color: #0070f3;
}

.back > a:hover {
    text-decoration: underline;
}
