.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 1rem auto 6rem;
    min-width: 250px;
    width: 65%;
    flex:1;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
