.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height:60px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 10% 0 10%;
}

.h1 {
    float: left;
    font-size: 1.2rem;
    color: black;
    white-space: nowrap;

}
.ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.li {
    float: right;
    white-space: nowrap;
    display: inline;
}

.a {
  transition: background-color 0.3s, color 0.3s;
  display: block;
  color: black;
  font-family: hack, 'fira code', helvetica;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  cursor: pointer;
}


@media screen and (max-width: 400px) {
    .navbar {
        padding: 0 5% 0 5%;
    }
    .a {
        font-size: 14px
    }
}

.a:hover {
    background-color: #0070f3;
    color: white;
}
