.main {
    font-family: 'Hack';
    font-size: 11pt;
    height: 7rem;
    margin-top: 2rem;
    padding: 1rem;
}

.text {
    text-align: center;
    margin: 0 auto 0 auto;
}

.logos {
    display: flex;
    justify-content: center;
    margin: 0.8rem auto;
    /*gap: 12px 0;*/
    transition: filter 0.2s ease;
    font-size: 0.7rem;
    
}

/*Because in safari gap doesn't work*/
.logos > * + * {
    margin-left: 30px;
}

.logos > * {
    display: block;
    text-align: center;
}

.logos > * > * {
    margin-top: 0;
}


.logos > a:hover {
    filter: invert(30%);
}

.inverted {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    transition: all 0.1s ease;
}
