html,
body {
  padding: 0;
  margin: 0;
  font-family: Fira Sans,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

html {
    overflow-y: overlay;
}
@font-face {
    font-family: 'Hack';
    src: url('/fonts/Hack/Hack-Regular.ttf');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
