.h1 {
    text-align: center;
    font-family: 'Hack';
    line-height: 1.5;
    font-size: 1.8rem;
    margin-bottom: 8px;
}

.lineWhite {
    border: 1px solid peru;
    width: 200px;
    margin-bottom: 1rem;
}
.lineDark {
    border: 1px solid skyblue;
    width: 200px;
    margin-bottom: 1rem;
}

.content {
    display: flex;
    align-items: center;
    flex-wrap:wrap-reverse;
    justify-content:space-evenly;
}

/*Content for about*/

.about {
    font-family: "Hack";
    font-size: 12pt;
    line-height: 1.5rem;
    flex: 0 1 360px;
}

.imagediv{
    flex: none;
    width: auto;
    height: auto;
    z-index: 0;
    margin-right: 10px;
    margin-left: 10px;
    
    
}
.image {
    flex: 0 0 auto;
    border-radius: 9999px;
}


/*Content for projects*/

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    column-gap: 50px;
    justify-content:center;
}

.project {
    width: 330px;
    font-size: 14pt;
}

.projectTitleDark {
    font-family: "Hack";
}

.projectTitleWhite {
    font-family: "Hack";
}

.projectDescription {
    font-family: "Hack";
    font-size: 12pt;
}
