.navbar {
    z-index: 1;
    width: 100%;
    height:60px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    padding: 0 3% 0 3%;
}

.h1 {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    white-space: nowrap;
}

.rightSide {
    display: flex;
    overflow: visible;
    align-items: center;
    
}


.ul {
    list-style: none;
    padding: 0;
    display: block;
    top: 0;
}


.li {
    white-space: nowrap;
    display: inline;
}

.a {
    display: inline;
    font-family: 'Hack', 'fira code', helvetica;
    text-align: center;
    margin: 0 1.5rem;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (max-width: 500px) {
    .navbar {
        padding: 0 2% 0 2%;
    }
    .a {
        font-size: 12pt;
        margin: 0 0.6rem;
    }
}

.switchDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;

}

.themeSwitch {
    display: flex;
    height: 30px;
    width: 30px;
    border: none;
    padding: 0;
    transform-origin: middle center;
    border-radius: 100%;
    transition: all 0.3s;
}

.themeSwitch > * {
    margin: auto;
}


.themeSwitch:hover {
    transform: scale(1.2);
    cursor: pointer;
}
